In [46]:
! pip install siuba

Requirement already satisfied: siuba in c:\users\user\anaconda3\lib\site-packages (0.4.2)
Requirement already satisfied: pandas>=0.24.0 in c:\users\user\anaconda3\lib\site-packages (from siuba) (1.4.4)
Requirement already satisfied: numpy>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from siuba) (1.21.5)
Requirement already satisfied: PyYAML>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from siuba) (6.0)
Requirement already satisfied: SQLAlchemy>=1.2.19 in c:\users\user\anaconda3\lib\site-packages (from siuba) (1.4.39)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->siuba) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->siuba) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from SQLAlchemy>=1.2.19->siuba) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->siuba) (1.16.0)

In [47]:
#importing packages to be used

import siuba 
import pandas as pd 
import numpy as np

CLEANING DATA WITH PANDAS/SIUBA

This code uses Siuba, Pandas and Numpy to clean,process and save an excel document. The goal is to filter,summarize and group data for further analysis.

Each cell has a comment to explain what is happening.

In [48]:
df = pd.read_csv(r"C:\Users\user\OneDrive\Documents\Uncleaned_DS_jobs.csv")

df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [49]:
from siuba import _,select 

df = df >> select(~_.index)

df >> _.head()

df.info()
#No missing data

#Equivalent in Pandas
#df.drop('index', inplace=True, axis=1)
#df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          672 non-null    object
 1   Salary Estimate    672 non-null    object
 2   Job Description    672 non-null    object
 3   Rating             672 non-null    float64
 4   Company Name       672 non-null    object
 5   Location           672 non-null    object
 6   Headquarters       672 non-null    object
 7   Size               672 non-null    object
 8   Founded            672 non-null    int64
 9   Type of ownership  672 non-null    object
 10  Industry           672 non-null    object
 11  Sector             672 non-null    object
 12  Revenue            672 non-null    object
 13  Competitors        672 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 73.6+ KB

In [50]:
#select salary estimate for cleaning

df >> select(_.contains('Salary Estimate'))

                  Salary Estimate
0    $137K-$171K (Glassdoor est.)
1    $137K-$171K (Glassdoor est.)
2    $137K-$171K (Glassdoor est.)
3    $137K-$171K (Glassdoor est.)
4    $137K-$171K (Glassdoor est.)
..                            ...
667  $105K-$167K (Glassdoor est.)
668  $105K-$167K (Glassdoor est.)
669  $105K-$167K (Glassdoor est.)
670  $105K-$167K (Glassdoor est.)
671  $105K-$167K (Glassdoor est.)

[672 rows x 1 columns]

In [51]:
df['Salary_Estimate_in_K'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K

In [52]:
df['Salary_Estimate_in_K'] = df['Salary_Estimate_in_K'].apply(lambda x: x.replace('K','').replace('$',''))

df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171

In [53]:
df['min_salary'] = df['Salary_Estimate_in_K'].apply(lambda x: int(x.split('-')[0]))

df['max_salary'] = df['Salary_Estimate_in_K'].apply(lambda x: int(x.split('-')[1]))

df = df >> select(~_.contains('Salary Estimate'))

df.head()

#remove salary estimate

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171

In [54]:
df['avg_salary'] = (df.min_salary+df.max_salary)//2
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154

In [55]:
df.sort_values(by='Rating', ascending=True)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary
457,Data Scientist,Work in a fast growing startup with unlimited ...,-1.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69-116,69,116,92
425,Data Scientist,"Job Description\nSelecting features, building ...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124-198,124,198,161
351,Data Scientist,About Our AI/ML Team\n\nOur mission is to buil...,-1.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122-146,122,146,134
504,Data Scientist,Job Description\nWorking at Sophinea\n\nSophin...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95-119,95,119,107
500,Data Scientist,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95-119,95,119,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79-106,79,106,92
405,Senior Machine Learning Engineer,We are looking for an experienced engineer wit...,5.0,LifeOmic\n5.0,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110-163,110,163,136
113,Data Engineer,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI\n5.0,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99-132,99,132,115
355,Data Scientist - TS/SCI FSP or CI Required,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122-146,122,146,134
118,NGS Scientist,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences\n5.0,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99-132,99,132,115

In [56]:
df.Rating = np.where(df.Rating==-1.0,0,df.Rating)

df.sort_values(by='Rating', ascending=True)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary
457,Data Scientist,Work in a fast growing startup with unlimited ...,0.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69-116,69,116,92
425,Data Scientist,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124-198,124,198,161
351,Data Scientist,About Our AI/ML Team\n\nOur mission is to buil...,0.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122-146,122,146,134
504,Data Scientist,Job Description\nWorking at Sophinea\n\nSophin...,0.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95-119,95,119,107
500,Data Scientist,Job Overview: The Data Scientist is a key memb...,0.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95-119,95,119,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79-106,79,106,92
405,Senior Machine Learning Engineer,We are looking for an experienced engineer wit...,5.0,LifeOmic\n5.0,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110-163,110,163,136
113,Data Engineer,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI\n5.0,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99-132,99,132,115
355,Data Scientist - TS/SCI FSP or CI Required,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122-146,122,146,134
118,NGS Scientist,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences\n5.0,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99-132,99,132,115

In [57]:
df['Location'] = df['Location'].apply(lambda x: x.split(',')[-0])

df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,New York,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,Chantilly,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,Boston,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,Newton,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,New York,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,Fort Lee,"Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,San Francisco,"Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,New York,"Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136

In [58]:
df['Headquarters'] = df['Headquarters'].apply(lambda x: x.split(',')[-0])

df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,New York,New York,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,Chantilly,Herndon,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,Boston,Boston,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,Newton,Bad Ragaz,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,New York,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,Fort Lee,Fort Lee,1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,San Francisco,Santa Clara,1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,New York,Carle Place,1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136

In [59]:
df['company_age'] = df.Founded.apply(lambda x: x if x<1 else 2023-x)
df['company_age'] = df.company_age.apply(lambda x: x if x>1 else 0)

df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary,company_age
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,New York,New York,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154,30
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,Chantilly,Herndon,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154,55
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,Boston,Boston,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154,42
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,Newton,Bad Ragaz,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154,23
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,New York,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,Fort Lee,Fort Lee,1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136,34
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,San Francisco,Santa Clara,1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136,0
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,New York,Carle Place,1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136,47

In [60]:
df['Job Title'].value_counts()

Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: Job Title, Length: 172, dtype: int64

In [61]:
#Change to use regex and siuba

def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [62]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)
df['seniority'] = df['Job Title'].apply(seniority)

df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary,company_age,job_simp,seniority
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,New York,New York,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154,30,data scientist,senior
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,Chantilly,Herndon,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154,55,data scientist,na
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,Boston,Boston,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154,42,data scientist,na
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,Newton,Bad Ragaz,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154,23,data scientist,na
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,New York,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154,25,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,Fort Lee,Fort Lee,1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136,34,data scientist,na
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,San Francisco,Santa Clara,1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136,0,data scientist,na
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,New York,Carle Place,1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136,47,data scientist,na

In [63]:
df['Location'] = df.Location.apply(lambda x: x.replace('United States','US'))

df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary,company_age,job_simp,seniority
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,New York,New York,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154,30,data scientist,senior
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,Chantilly,Herndon,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154,55,data scientist,na
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,Boston,Boston,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154,42,data scientist,na
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,Newton,Bad Ragaz,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154,23,data scientist,na
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,New York,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154,25,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,Fort Lee,Fort Lee,1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136,34,data scientist,na
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,San Francisco,Santa Clara,1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136,0,data scientist,na
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,New York,Carle Place,1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136,47,data scientist,na

In [64]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_Estimate_in_K,min_salary,max_salary,avg_salary,company_age,job_simp,seniority
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,New York,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137-171,137,171,154,30,data scientist,senior
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,Herndon,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137-171,137,171,154,55,data scientist,na
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,Boston,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137-171,137,171,154,42,data scientist,na
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,Bad Ragaz,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137-171,137,171,154,23,data scientist,na
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,New York,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137-171,137,171,154,25,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,Fort Lee,Fort Lee,1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105-167,105,167,136,34,data scientist,na
668,Data Scientist,Job Description\nBecome a thought leader withi...,0.0,JKGT,San Francisco,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
669,Data Scientist,Join a thriving company that is changing the w...,0.0,AccessHope,Irwindale,-1,-1,-1,-1,-1,-1,-1,-1,105-167,105,167,136,0,data scientist,na
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,San Francisco,Santa Clara,1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105-167,105,167,136,0,data scientist,na
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,New York,Carle Place,1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105-167,105,167,136,47,data scientist,na

In [65]:
df.to_csv('Processed_DS_Jobs.csv', index=False)